@tailwind base;
@tailwind components;
@tailwind utilities;

*{
  margin: 0;
  padding: 0;
  outline: none;
}
body {
  background-color: #fff4df;
  position: relative;
}
.animate-para-first, .animate-para-fourth {
  padding: 10px;
  background-color: #fff4df;
  z-index: 10;
  animation: slide-para-first 3s infinite ease-out forwards;
  animation-direction: alternate-reverse;
}
@keyframes slide-para-first {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-100px);
  }
}
.animate-para-fourth{
  padding: 16px;
  padding-right: 10px;
}
.animate-para-third {
  background-color: #fff4df;
  z-index: 10;
  animation: slide-para-third 3s infinite ease-out forwards;
  animation-direction: alternate-reverse;
  padding-left: 10px;
}
@keyframes slide-para-third {
  0% {
    transform: translateX(-100px);
  }
  100% {
    transform: translateX(0px);
  }
}


section {
  position: absolute;
  width: 100vw;
  height: 100vh;
  display: none;
  place-content: center;
  z-index: 100;
  top: 0;
}

.up {
  animation: up 1s ease-out;
  display: inline;
}

@keyframes up {
  from {
    transform: translateY(100vh)
  }
  to {
    transform: translateY(0)
  }
}